<ion-button color="light" expand="block" (click)="isModalOpen = true">See your shaker</ion-button>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Your shaker</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="isModalOpen = false">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item *ngFor="let ingredient of cartService.getCart()">
          <ion-label>{{ ingredient.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

  </ng-template>
</ion-modal>